.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

button {
  background-color: skyblue;
  color: black;
  padding: 14px 20px;
  margin: 8px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
