main {
    margin: 0;
    display: flex;
    width: 700px;
    gap: 30px;
    border: 1px solid black;
    padding: 20px;
    background-color: bisque;
    justify-content: center;
}

input {
    font-size: 20px;
}

input[type=number] {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
}

.menu-wrapper .balance {
    display: flex;
    font-size: 20px;
    height: 26px;
    border: 1px solid black;
    justify-content: center;
    align-items: flex-end;
}

.menu-wrapper .menu-btn-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.menu-wrapper .menu-btn-wrapper .menu-item:not(:disabled):hover {
    border: 2px solid black;
}

.menu-wrapper .menu-btn-wrapper .menu-item:not(:disabled):active {
    background-color: skyblue;
}

.control-box {
    display: flex;
    justify-content: space-between;

}
.control-box input {
    width: 70%;
}

.warning-box {
    height: 28px;
    font-size: 12px;
    color: red;
}

.logging-box {
    height: 100%;
}

.logging-box textarea {
    width: 100%;
    height: calc(100% - 6px);
}

@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
        width: fit-content;
    }

    .logging-box {
        height: 300px;
    }
}